/* .card{
  border: 1px solid rgb(170, 153, 153);
  border-radius: 12px;
  box-shadow: 5px 4px 5px hsla(0, 0%, 3%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: hsl(40, 5%, 12%);
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(40, 5%, 30%);
} */



/* .btn{
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
} */



/* .stu{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.stu p{
  margin: 0;
} */



/* .welcome-msg{
  font-size: 2.5em;
  background-color: rgb(13, 232, 57);
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  width: 250px;
}

.failed-msg{
  font-size: 2.5em;
  background-color: rgb(232, 13, 24);
  color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  width: 250px;
} */


/* .list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0,0%,20%);
  margin-bottom: 20px;
  text-align: center;
  border: 3px solid;
  border-radius: 12px;
  background-color: hsl(185, 100%, 50%);
}

.list-item{
  font-size: 2.5em;
  list-style: none;
  color: hsl(0,0%,25%);
  text-align: center;
  margin: 0;
}

.list-item li:hover{
  color: hsl(0,0%,45%);
  cursor: pointer;
} */




/* .counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-btn{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(37, 211, 211);
  border: none;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
}

.counter-btn:hover{
  background-color: rgb(14, 135, 135);
} */



/* body{
  font-family: Arial, Helvetica, sans-serif;
}

.color-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin:50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 12px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0%, 20%);
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 12px;
  border: 3px solid hsl(0, 0%, 80%);
} */




/* body{
  background-color: hwb(0 17% 82%);
}
.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  margin: 5px;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-btn{
  background-color: hsl(125,47%,54%);
}

.add-btn:hover{
  background-color: hsl(125,47%,44%);
}

.del-btn{
  background-color: hsl(10, 90%, 50%);
}

.del-btn:hover{
  background-color: hsl(0, 90%, 40%);
}

.move-btn{
  background-color: hsl(244, 90%, 50%);
}

.move-btn:hover{
  background-color: hsl(255, 96%, 37%);
}

input[type='text']{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 12px;
  color: hsl(0, 0%, 0%, 0.5);;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 85%, 0.75);
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.text{
  flex:1;

}
 */



body{
  background-color: rgb(170, 170, 153);
  margin: 0;
}

.clock--container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}


.clock{
  color: #ffffff;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}